<div class="container">
    <h2 id="titulo">Central de Mensajes</h2>
    <form onsubmit="return addMessage(this)">
        <input type="text" placeholder="correo electronico" id="email" required>
        <input type="text" placeholder="Mensaje" id="mensaje" required>
        <button type="submit">Enviar</button>
    </form>
    <br>
    <div id="mensajes"></div>
</div>